@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--lightBlack);
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --lightBlack: #272a31;
  --lightGrayHelfOpacity: #d3d3d3df;
  --lightGray: #d3d3d3;
  --orange: #ec5242;
  --orangeLightOpacity: #ec53429b;
  --lightBlack-2: #414245;
}
