
header {
  padding: 10px;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
}

.humberger {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: grid;
  align-items: center;
}

.humberger-opened {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.bar {
  height: 6px;
  background-color: var(--lightBlack); /* in global.css */
  position: relative;
  transition: 0.3s;
}

.bar_close {
  background-color: transparent;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  height: inherit;
  width: 100%;
  background-color: var(--lightBlack); /* in global.css */
  transition: 0.3s;
}

.bar::before {
  transform: translateY(12px);
}

.bar::after {
  transform: translateY(-12px);
}

.bar_close::before {
  transform: rotate(45deg);
}

.bar_close::after {
  transform: rotate(-45deg);
}

.navs {
  position: fixed;
  inset: 0;
  width: 100vw;
  background-color: var(--lightGray);
  display: none;
  padding-top: 65px;
}

.navs-open {
  display: block;
}

.nav-1 ul {
  background-color: var(--lightBlack);
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  padding: 5px;
}

.nav-1 ul a {
  color: #fff;
  text-decoration: none;
}

.nav-1 ul img {
  width: 40px;
}

.nav-2 ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  list-style: none;
  height: 50vh;
}

.nav-2 ul a {
  text-decoration: none;
  font-size: 20px;
}
