
header {
  padding: 10px;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
}

.humberger {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: grid;
  align-items: center;
}

.humberger-opened {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.bar {
  height: 6px;
  background-color: var(--lightBlack); /* in global.css */
  position: relative;
  transition: 0.3s;
}

.bar_close {
  background-color: transparent;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  height: inherit;
  width: 100%;
  background-color: var(--lightBlack); /* in global.css */
  transition: 0.3s;
}

.bar::before {
  transform: translateY(12px);
}

.bar::after {
  transform: translateY(-12px);
}

.bar_close::before {
  transform: rotate(45deg);
}

.bar_close::after {
  transform: rotate(-45deg);
}

.navs {
  position: fixed;
  inset: 0;
  width: 100vw;
  background-color: var(--lightGray);
  display: none;
  padding-top: 65px;
}

.navs-open {
  display: block;
}

.nav-1 {
  background-color: var(--lightBlack);
}

.nav-1 ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  padding: 5px;
}

.get-started a {
  display: block;
  padding: 15px 20px;
  text-align: center;
}

.nav-1 ul a {
  color: #fff;
  text-decoration: none;
}

.nav-1 ul img {
  width: 40px;
}

.nav-2-container .logo {
  display: none;
}

.nav-2 ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  list-style: none;
  height: 50vh;
}

.nav-2 ul a {
  text-decoration: none;
  font-size: 20px;
}

.get-started {
  border: 4px solid var(--orange);
  width: 150px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    background-color: #fff;
    box-shadow: 1px 1px 5px var(--lightBlack);
    padding: 0;
  }

  .nav-2-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .humberger {
    display: none;
  }

  .navs {
    display: block;
    position: relative;
    padding: 0;
    background-color: transparent;
  }

  .nav-1 {
    display: grid;
    place-items: center;
  }

  .nav-1 ul {
    justify-content: flex-end;
    width: 72%;
  }

  .nav-1 ul li {
    margin: 5px 10px;
  }

  .nav-1 ul a {
    font-size: 12px;
  }

  .nav-1 ul img {
    display: block;
    margin: 0 auto;
    width: 20px;
  }

  .nav-2-container .logo {
    width: 120px;
    display: flex;
    justify-content: center;
    flex: 0.2;
  }

  .nav-2 {
    flex: 0.6;
  }

  .nav-2 ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
    padding: 10px;
  }

  .nav-2 ul a {
    font-size: 17px;
  }
}
